option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: web_app:app
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

container_commands:
  01_create_directories:
    command: "mkdir -p data/papers data/extracted_texts"
